
.searchBox#crypto_css_input{ 
    height: 0px;
    width: 0px;
   }
  
   .searchWrapper{
    height: 40px;
    width: 17rem;
    background: black;
    cursor: pointer;
   }
  
   .optionContainer::-webkit-scrollbar { 
      display: none; 
  }
  .optionContainer {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
  }
  
  .optionListContainer{
    width: 18rem;
    margin-top: 4px;
  }
  
   .optionContainer li:hover,
  .optionContainer .highlight{
    background: #fee2e2;
    color: black;
  }
  
  
  @media only screen and (max-width: 400px){
    .searchWrapper{
      width: 16rem;
     }
     .chip{
      font-size: 0.7rem;
     }
     .optionListContainer{
      width: 17rem;
    }
  }